    table {
        border-collapse: collapse;
    }

     table td {
         border: 1px solid black;
         padding: 5px;
     }

     p {
         text-align: center;
     }
     .red {
         color: red;
     }
     td {
     padding-left: 5px;
     padding-right: 5px;
     }
     div {
         margin-left: 20%;
     }
     